

  <div class="container" *ngIf="!verifyEmail">
    <div>
      <h1 class="title">Bienvenidos a la clínica OnLine</h1>
      <h2 class="subtitle">¿Cómo desea registrarse?</h2>
      <div class="card-container">
        <div class="card patient-card">
          <div class="card-icon">
            <img src="../../../assets/consulta.png" alt="Patient">
          </div>
          <div class="card-title">Paciente</div>
          <button [routerLink]="['paciente']">Registrarse como Paciente</button>
        </div>
        <div class="card specialist-card">
          <div class="card-icon">
            <img src="../../../assets/medico.png" alt="Specialist">
          </div>
          <div class="card-title">Especialista</div>
          <button  
          [routerLink]="['especialista']"
          >Registrarse como Especialista</button>
        </div>
      </div>
    </div>
  </div>
  <app-verify-email *ngIf="verifyEmail"></app-verify-email>