.container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }
  
  .especialidades-section {
    width: 300px;
    margin: 20px;
  }
  
  .card {
    position: relative;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .card img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .card h2 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
  }