<h2 style="text-align: center;">Registro de Especialista</h2>
<form (ngSubmit)="registrarEspecialista()" [formGroup]="especialistaForm" class="registration-form">
    <label for="nombre">Nombre</label>
    <input type="text" id="nombre" formControlName="nombre" required [(ngModel)]="especialista.nombre">
    <div class="error-message" *ngIf="nombre?.invalid && (nombre?.dirty || nombre?.touched)">
      <span class="text-danger" *ngIf="nombre?.hasError('required')">El nombre es obligatorio</span>
    </div>
  <div class="form-group">
    <label for="apellido">Apellido</label>
    <input type="text" id="apellido" formControlName="apellido" required [(ngModel)]="especialista.apellido">
    <div class="error-message" *ngIf="apellido?.invalid && (apellido?.dirty || apellido?.touched)">
      <span class="text-danger" *ngIf="apellido?.hasError('required')">El apellido es obligatorio</span>
    </div>
  </div>
  <div class="form-group">
    <label for="edad">Edad</label>
    <input type="number" id="edad" formControlName="edad" required [(ngModel)]="especialista.edad" >
    <div class="error-message" *ngIf="edad?.invalid && (edad?.dirty || edad?.touched)">
      <span class="text-danger" *ngIf="edad?.hasError('required')">La edad es obligatoria</span>
    </div>
  </div>
  <div class="form-group">
    <label for="dni">DNI</label>
    <input type="text" id="dni" formControlName="dni" required [(ngModel)]="especialista.dni" >
    <div class="error-message" *ngIf="dni?.invalid && (dni?.dirty || dni?.touched)">
      <span class="text-danger" *ngIf="dni?.hasError('required')">El DNI es obligatorio</span>
    </div>
  </div>
  <div class="form-group">
    <label for="especialidad">Especialidad</label>
    <select id="especialidad" required (change)="onEspecialidadSeleccionada($event)">
        <option *ngFor="let especialidad of especialidades" [value]="especialidad.nombre">{{ especialidad.nombre }}</option>
        <option value="otro">Otro</option>
      </select>
  </div>
  <div class="form-group" *ngIf="especialidadSeleccionada.nombre === 'otro'">
    <label for="especialidadPersonalizada">Especialidad Personalizada</label>
    <input type="text" id="especialidadPersonalizada" formControlName="especialidadPersonalizada" required [(ngModel)]="especialidadPersonalizada" placeholder="Ingrese una especialidad personalizada">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" id="email" formControlName="email" required [(ngModel)]="especialista.mail" >
    <div class="error-message" *ngIf="email?.invalid && (email?.dirty || email?.touched)">
      <span class="text-danger" *ngIf="email?.hasError('required')">El email es obligatorio</span>
      <span class="text-danger" *ngIf="email?.hasError('email')">El email no es válido</span>
    </div>
  </div>
  <div class="form-group">
    <label for="password">Contraseña</label>
    <input type="password" id="password" formControlName="password" required [(ngModel)]="especialista.password">
    <div class="error-message" *ngIf="password?.invalid && (password?.dirty || password?.touched)">
      <span class="text-danger" *ngIf="password?.hasError('required')">La contraseña es obligatoria</span>
    </div>
  </div>
  <div class="form-group">
    <label for="imagenPerfil">Imagen de Perfil</label>
    <input type="file" id="imagenPerfil"  (change)="onImagenPerfilSeleccionada($event)">
  </div>
  <button type="submit" class="btn btn-primary">Registrarse</button>
</form>

<!-- 
<app-tabla-especialidades
    [especialidades]="especialidades"
    [seleccionadas]="especialidadesSeleccionadas"
    (especialidadesSeleccionadas)="onEspecialidadesSeleccionadas($event)">
  </app-tabla-especialidades> -->