<div class="container">
  <h2>Sección Usuarios</h2>

  <!-- Tabla de usuarios -->
  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Email</th>
        <th>Rol</th>
        <th>Acceso</th>
        <th>Imagen de Perfil</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let especialista of especialistas">
        <td>{{ especialista.nombre }}</td>
        <td>{{ especialista.mail }}</td>
        <td>{{ especialista.perfil }}</td>
        <td>
          <button class="access-button" [ngClass]="{ 'enabled': especialista.habilitado, 'disabled': !especialista.habilitado }" (click)="habilitarInhabilitarAcceso(especialista)">
            {{ especialista.habilitado ? 'Inhabilitar' : 'Habilitar' }}
          </button>
        </td>
        <td>
          <div class="profile-image">
            <img [src]="especialista.imagenPerfil" alt="Imagen de perfil">
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <h1>Gestión de Usuarios:</h1>
  <div class="container" >
      <div class="card-container">
        <div class="card patient-card">
          <div class="card-icon">
            <img src="../../../assets/consulta.png" alt="Patient">
          </div>
          <div class="card-title">Paciente</div>
          <button [routerLink]="['/registro/paciente']">Registrar Paciente</button>
        </div>
        <div class="card specialist-card">
          <div class="card-icon">
            <img src="../../../assets/medico.png" alt="Specialist">
          </div>
          <div class="card-title">Especialista</div>
          <button  
          [routerLink]="['/registro/especialista']"
          >Registrar Especialista</button>
        </div>
        <div class="card admin-card">
          <div class="card-icon">
            <img src="../../../assets/admin.png" alt="Admin">
          </div>
          <div class="card-title">Administrador</div>
          <button  
          [routerLink]="['/registro/especialista']"
          >Registrar Administrador</button>
        </div>
      </div>
  </div>