<div class="container">

    <section class="landing-page">
        <div class="container">
          <div class="header">
            <h1 class="title">Bienvenido a Clínica OnLine</h1>
            <p class="subtitle">La mejor atención médica en línea</p>
          </div>
          <div class="content">
            <p class="description">En Clínica OnLine, ofrecemos servicios médicos de calidad a través de consultas en línea. Nuestro equipo de médicos altamente capacitados está listo para brindarte la atención que necesitas desde la comodidad de tu hogar.</p>
            <button class="btn">Agendar una consulta</button>
          </div>
        </div>
    </section>

</div>